---
const title = Astro.props.title ? Astro.props.title : Astro.props.content.title
const { pathname } = Astro.request.url;
const path = pathname.replace('/', '')
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Christoffer Carlsson</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class={path || 'home'}>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
